extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = azienda
  - var desktp = azienda.data.immagine_azienda.url
  - var tbl = azienda.data.immagine_azienda.tablet.url
   - var mbl = azienda.data.immagine_azienda.mobile.url
block body
  style(type="text/css").
      .col1{
        background-image:url(#{desktp});
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        height:700px;
      }
      .titolo-storia1{

        line-height:35px;
        margin-top:-100px;
      }
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:cover;
         }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{mbl});
            height:200px;
          }
          .col1{
        background-image:url(#{tbl});
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        height:500px;
      }.titolo-storia1{
        font-size:35px;
        line-height:25px;
      }
      .col2{
         height:500px;
         font-size:12px;
      }

         }
           @media only screen and (max-width:450px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:300px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
          .col2{
          margin-top:20px;
          height:auto;
         font-size:1em;
      }
             .col1{
        background-image:url(#{mbl});
        background-size:cover;
        background-position:center;
        height:200px;
      }
       }
  .container-fluid
    .row.mt-5.px-4
      .col-md.col1

      .col-md.col2.box-blue-light.blocco-testo
        h2.titolo-storia1.text-white
          !=RichText.asText(azienda.data.titolo)
        p.font-storia

          != RichText.asText(azienda.data.storia_azienda)
  .container-fluid.mt-0.pt-0

        .float-right.pt-5.mt-4
          img.img-fluid(src=azienda.data.immagine_paragrafo_storia.url)
        .para(style='background:#faf9f7;margin-left:10px;margin-right:10px;')
          h2.motto-storia.pt-5.text-blue-light

           != RichText.asText(azienda.data.titolo_storia)
          p.storia.py-2
            != RichText.asText(azienda.data.storia_completa)
  .container-fluid#show-case
     .row
        each element, index in premium
          if index <= 2
            .col-md-6.col-lg-5

                div.d-flex.flex-column.card-slide(style=';position:relative;overflow:hidden;')
                  img(src=element.data.foto_ingrediente.url)
                  h2.bluastro.bannersotto
                    a(href="#" class='apri')
                      != RichText.asText(element.data.nome_incrediente)
                  div.overl

                    div.text-white(style='padding-left:10px;padding-right:10px')

                        .card-header.d-flex.flex-row.justify-content-center.mt-2
                            span.left-slide.apri
                              i.fas.fa-chevron-left
                            h5.text-center.ml-3.card-title
                              != RichText.asText(element.data.nome_incrediente)
                        .card-body

                          p.mytext
                             !=RichText.asText(element.data.descrizione_ingrediente)





