extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = azienda
  - var desktp = azienda.data.immagine_azienda.url
  - var tbl = azienda.data.immagine_azienda.tablet.url
   - var mbl = azienda.data.immagine_azienda.mobile.url
block body
  style(type="text/css").
      .col1{
        background-image:url(#{desktp});
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        height:500px;
      }
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:cover;
         }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{mbl});
            height:200px;
          }
          .col1{
        background-image:url(#{tbl});
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        height:300px;
      }
      .col2{
         height:300px;
         font-size:12px;
      }

         }
           @media only screen and (max-width:400px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:200px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
          .col2{
          margin-top:20px;
          height:auto;
         font-size:1em;
      }
             .col1{
        background-image:url(#{mbl});

        height:300px;
      }
       }
  .container-fluid
    .row.mt-5.px-4
      .col-md-6.col1

      .col-md-6.col2.box-blue-light.blocco-testo.d-flex
        p.font-storia
          != RichText.asText(azienda.data.storia_azienda)

  .container-fluid.mt-0.pt-0

        .float-right.pt-5.mt-4
          img.img-fluid(src=azienda.data.immagine_paragrafo_storia.url)
        .para(style='background:#faf9f7;margin-left:10px;margin-right:10px;')
          h2.motto-storia.pt-5.text-blue-light

           != RichText.asText(azienda.data.titolo_storia)
          p.storia
            != RichText.asText(azienda.data.storia_completa)
  .container#show-case

          div.d-flex.flex-column.card-slide(style=';position:relative;overflow:hidden;')
            img(src='https://images.pexels.com/photos/209424/pexels-photo-209424.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
            h2.bluastro.bannersotto
              a(href="#" class='apri') Specialità
            div.overl

               div.text-white(style='padding-left:10px;padding-right:10px')

                  .my-card-header.d-flex.flex-row.justify-content-center.mt-2
                      span.left-slide.apri
                        i.fas.fa-chevron-left
                      h3.text-center.card-title.ml-3 Tiramisù della Nonna

                  .card-body.my-card-body

                    p.mytext-card
                      |siamo italiani, e sappiamo che il tiramisù migliore lo fa sempre la nonna. La sua ricetta è quella tradizionale, con il mascarpone, che aggiunge corpo e sapore al dolce tanto amato da tutti. Abbiamo deciso anche nei nostri prodotti per gelateria di valorizzare la tradizione, il risultato è un gusto più intenso, morbido e un aroma che fa viaggiare indietro nel tempo.





