extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = contatti

block body
    .container-fluid.row.mt-5
      .col-md-6
         img(src=contatti.data.immaginecontatti.url)
      .col-md-6.d-flex.justify-content-center.flex-column.pl-5
        p
          h2.nome-azienda
            != RichText.asText(contatti.data.nome_azienda)
          div.text-left.desc
             != RichText.asText(contatti.data.residenza)
          div.desc
            != RichText.asText(contatti.data.localita)
          div.desc
            != RichText.asText(contatti.data.cap_azienda)
          div.desc
            != RichText.asText(contatti.data.stato)
          .mt-5.desc Tel
            != RichText.asText(contatti.data.telefono)
          div.desc Fax
            != RichText.asText(contatti.data.fax)
          .mt-2.desc
            != RichText.asText(contatti.data.email)
    .container-fluid
      h2.pl-5.mt-4.blue-color
        != RichText.asText(contatti.data.titolo_contatti)
      p.pl-5.mt-2.desc
        != RichText.asText(contatti.data.descrizione_contatti)



    form(method="post" action='/'+contatti.lang+'/contatti' name='contatti' id='contatta').container-fluid.pl-5.contactme
     h2#answers.pl-5.alert.alert-success.text-center
      |grazie per averci contattato

     input#language(type="hidden" value=contatti.lang)
     .container-fluid.row
       .col-md-6.inp

        input(type="text" placeholder=RichText.asText(contatti.data.form_nome) name='nome').form-control#nome
       .col-md-6.inp
        input(type="text" placeholder=RichText.asText(contatti.data.form_cognome) name='cognome').form-control#cognome
     .container-fluid.row.pt-4
       .col-md-6.inp
          input(type="email" placeholder=RichText.asText(contatti.data.form_email) name='email').form-control#email
       .col-md-6.inp
          input(type="text" placeholder=RichText.asText(contatti.data.form_azienda) name='azienda').form-control#azienda
     .container-fluid.row.pt-4

       .col-md-4.inp
          select(name='country')#country.form-control






       .col-md-4.inp
          input#postalCode.form-control(type='text' placeholder=RichText.asText(contatti.data.form_cap) name='cap')



       .col-md-4.inp
          input#postalPlace.form-control(type='text' placeholder=RichText.asText(contatti.data.form_citta) name='citta')

     .container-fluid.row.pt-4
       .col-md-12.inp
          input(type="phone" placeholder=RichText.asText(contatti.data.form_telefono) name='telefono').form-control#telefono
     .container-fluid.row.pt-4.blue-color.pl-4
          h2.pl-4.pb-3
            != RichText.asText(contatti.data.domanda_form)
          .col-md-12
          select(name='scelta').form-control#scelta
            option(value='niente', disabled='', selected='true')
              != RichText.asText(contatti.data.servizi_interessi)
            option(value=RichText.asText(contatti.data.servizio_apertura) )
              !=RichText.asText(contatti.data.servizio_apertura)
            option(value=RichText.asText(contatti.data.info_prodotti) )
              !=RichText.asText(contatti.data.info_prodotti)
            option(value=RichText.asText(contatti.data.appuntamento) )
              !=RichText.asText(contatti.data.appuntamento)
            option(value=RichText.asText(contatti.data.ferie_eventi) )
              !=RichText.asText(contatti.data.ferie_eventi)


     .container-fluid.row.pt-4.blue-color.pl-4.textarealabel#content
          textarea#richiesta(name="richiesta",  placeholder=RichText.asText(contatti.data.form__richiesta))
     .container-fluid.row.pt-4.blue-color.pl-4
          button(type='submit').btn-block.mybtn#sub
            | invia la tua richiesta
