extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = home
  - var tablet = home.data.backgroundImage.Tablet.url
  - var desktop = home.data.backgroundImage.url
  - var mobile = home.data.backgroundImage.Mobile.url

block body
  style(type="text/css").
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:cover;
        }
          div.immagine-storia{
            background-image:url(#{home.data.immaginestoria.url});


            background-repeat:no-repeat;
            background-size:cover;
       }

          .title{
            color:var( --main-color-blue-light);
            font-size:3em;
            text-align:left;
            width:200px;
             font-family: 'FontMaxiBold';
             font-weight:900;

       }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{tablet});
            height:200px;
            }
          div.immagine-storia{
            background-image:url(#{home.data.immaginestoria.url});


            background-repeat:no-repeat;
            background-size:cover;
            }

           }
        @media only screen and (max-width:767px){

          div.immagine-storia{


            display:none;
            width:90%;

            margin:50px auto;
            background-repeat:no-repeat;
            background-size:cover;
            }

           }
           @media only screen and (max-width:400px){
              .homepage-banner{
                 background-image:url(#{mobile});
                 height:200px;
           }


          }
          .banne{
           color:red;
           font-size:40px;
          }



  .homepage


    section.homepage-banner


      -//.banner-content.grid-container
      - // h2.banner-title
      -//    != RichText.asText(home.data.title)

      -//  if ( home.data.buttonLink && home.data.buttonText )
      -//      a.banner-button(href=Link.url(home.data.buttonLink, ctx.linkResolver)) !{home.data.buttonText}
          h1.motto
            != RichText.asText(home.data.Motto)
  .container-fluid
    .row
      .col-md-6.categoria-immagine
         img(src=home.data.immagine_categorie.url)
      .col-md-6.d-flex.flex-column.justify-content-center.categoriaList
       div.pt-3
         h2.title I nostri Gelati
         if message
          h2
            message
       p
        ul.listaCategorie
          each linkItem in home.data.sezione_categorie
            li
              a.ban(href=Link.url(linkItem.link_categoria, ctx.linkResolver))
                != linkItem.label
  .container-fluid.mt-5



    .row
     .col-md-12.col-lg-6.box-storia.d-flex.flex-column.justify-content-center.categoriaTitolo.align-items-center
        h2.titolo-storia
         != RichText.asText(home.data.titolosezionestoria)
        .paragrafoStoria
         != RichText.asHtml(home.data.descrizione_storia, ctx.linkResolver)

     .col-md-12.col-lg-6.immagine-storia

  if (home.data.titolo_il_segreto.length)
      .container.mt-5

          h2.titolo
            !=RichText.asText(home.data.titolo_il_segreto)
          .row.listaSegreti
              .col-md-4
                #card
                  .front.bluastro.pt-4
                    img(src=home.data.iconasegreto1.url)
                  .back.d-flex.justify-content-center.descrizione-segreto.align-items-center
                    != RichText.asText(home.data.testo_segreto1)

              .col-md-4
                #card1
                  .front.bluastro.pt-4
                    img(src=home.data.iconasegreto2.url)
                  .back.d-flex.justify-content-center.descrizione-segreto.align-items-center
                     != RichText.asText(home.data.testo_segreto2)
              .col-md-4
                #card2
                  .front.bluastro.pt-4
                    img(src=home.data.iconasegreto3.url)
                  .back.d-flex.justify-content-center.descrizione-segreto.align-items-center
                    != RichText.asText(home.data.testo_segreto3)

  .container-fluid.mt-5
    .mt-5
      include ./slices/slide.pug
  if home.data.evento.length
    .container.mycont.mt-5.pl-4.pt-5
        div.row.event-card
          .col-md-6
            img.img-fluid.image-ev(src=home.data.immagine_evento.url)
            div.d-flex.fle-column.justify-content-center
              div.mese-giorno
                span.giorno 12
                span.mese GENNAIO
              .luogo.mt-3
                div.text-center
                  i.fas.fa-map-marker-alt.text-center
                div.paese PERUGIA (PG)





          .col-md-6.justify-content-center
                h2.text-center.descr-event

                  |Workshop con gli artigiani del gusto, vi aspettiamo numerosi!!













    -// Content Section
     div.grid-container


      -// Display the slices
      for slice in home.data.body
        case slice.slice_type
          when 'highlight_section'
            include ./slices/highlight-section.pug
          when 'banner'
            include ./slices/banner.pug
          when 'banner_look'
            include ./slices/quote-banner.pug
          when 'editorial_look'
            include ./slices/featured-section.pug

          when 'image_slider'
            include ./slices/image-slider.pug
          when 'gallery'
            include ./slices/gallery.pug
          when 'video'
            include ./slices/video.pug

